/* HEADER STYLE */

header {
    background-color: #2C3E50;

    height: 100px;
}

.headcol-left {
    height: 100px;
    background-color: azure;
    border: 2px dashed black;
}

.headcol-right {
    height: 100px;
    background-color: azure;
    border: 2px dashed black;
}

/* MAIN STYLE */

/* JUMBO */

.jumbotron {
    background-color: #1ABC9C;

    height: 500px;
}

/* PORTFOLIO */

.card {
    background-color: black;
    border: 2px dashed gold;
    height: 200px;
}

/* ABOUT */


/* CONTACTS */



/* FOOTER STYLE */



/* FOOTER END */



