/* HEADER STYLE */

.headcol-left {
    height: 100px;
    background-color: black;
    border: 2px dashed white;
}

.headcol-right {
    height: 100px;
    background-color: black;
    border: 2px dashed white;
}

/* MAIN STYLE */

/* JUMBO */

.jumbotron {
    height: 400px;
    background-color: aquamarine;
}

/* PORTFOLIO */

.portfolio {
    height: 400px;
}

.card {
    height: 100px;
    background-color: cadetblue;
}

/* ABOUT */

.about {
    height: 300px;
    background-color: aquamarine;
}

.aboutcol-left {
    height: 100px;
    background-color: teal;
    border: 2px dashed black;
}

.aboutcol-right {
    height: 100px;
    background-color: teal;
    border: 2px dashed black;
}

/* CONTACTS */

.contacts {
    height: 600px;
}

/* FOOTER STYLE */

.footcol-left {
    height: 200px;
    background-color: darkgrey;
    border: 2px dashed white;
}

.footcol-mid {
    height: 200px;
    background-color: darkgrey;
    border: 2px dashed white;
}

.footcol-right {
    height: 200px;
    background-color: darkgrey;
    border: 2px dashed white;
}

/* FOOTER END */

.footer-end {
    background-color: blue;
    height: 150px;
}


