/* HEADER STYLE */

.headcol-left {
    height: 10vh;
    background-color: black;
    border: 2px dashed white;
}

.headcol-right {
    height: 10vh;
    background-color: black;
    border: 2px dashed white;
}